<!DOCTYPE html>
<html lang="en-GB">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'main/images/logo.svg' %}">
    <title>{% block head_title %} Material Wise {% endblock head_title %}</title>
    {% include 'main/base/css.html' %}
</head>
<body>
    {% include 'main/base/navbar.html' %}
    <div class="bg-white dark:bg-gray-800">
    {% block content %}
    {% endblock %}
    </div>
    {% include 'main/base/messages.html' %}
    {% include 'main/base/footer.html' %}
    {% include 'main/base/js.html' %}
</body>
</html>