{% load custom_tags %}
<div class="group relative flex-none snap-center snap-always w-40">
    <div class="aspect-square overflow-hidden rounded-md bg-gray-200 relative">
        
      <img src="{% get_commodity_image_url commodity %}" alt="{{commodity.name}}" class="w-40 h-40 object-cover object-center">
      
      <!-- Hidden content that appears on hover -->
      <div class="absolute inset-0 flex justify-between items-start opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-gray-800 bg-opacity-75">

      </div>
    </div>
    <div class="mt-4 flex justify-between">
      <div>
        <h3 class="text-xs text-gray-700 dark:text-gray-300">
          <a href="{% url 'commodity' commodity.name %}" class="font-semibold whitespace-normal break-words">
            <span aria-hidden="true" class="absolute inset-0"></span>
            {{commodity.name}}
          </a>
        </h3>
        <p class="mt-1 text-xs text-gray-400 dark:text-gray-500">
          {{commodity.price_now|floatformat:2}}
          {% if commodity.unit != 'Index' %}
          {{commodity.currency.symbol}}
          {% endif %}
          {{commodity.unit}}
        </p>
      </div>
      <p class="text-sm font-semibold text-gray-900 dark:text-gray-200">
        {% if commodity.increasefromlastyear %}
        {% if commodity.increasefromlastyear > 0 %}
          <a><span class="text-green-500 font-black">↗</span>{{ commodity.increasefromlastyear | floatformat:"1" }}%</a>
        {% elif commodity.increasefromlastyear < 0 %}
          <a><span class="text-red-500 font-black">↘</span>{{ commodity.increasefromlastyear | floatformat:"1" }}%</a>
        {% elif commodity.increasefromlastyear == 0 %}
        <a><span class="text-blue-500 font-black">=</span>0%</a>
        {% endif %}
        {% endif %}
        </p>
    </div>
  </div>