{% extends "main/base.html" %}
{% block head_title %} Home - {{block.super}} {% endblock head_title %}
{% block content %}
{% load static %}
      
<div class="bg-white dark:bg-gray-800">

<!-- Slides Main Points Carrousel -->
<script>
  const staticUrls = {
      image1: "{% static 'main/images/warehouse1.jpg' %}",
      image2: "{% static 'main/images/crane1.jpg' %}",
      image3: "{% static 'main/images/chart1.jpg' %}",
      image4: "{% static 'main/images/meeting1.jpg' %}"
  };
</script>

<section id="title-carousel">
  <div class="container flex flex-col px-6 py-4 mx-auto space-y-6 lg:h-[32rem] lg:py-16 lg:flex-row lg:items-center">
    <div class="flex flex-col items-center w-full lg:flex-row lg:w-1/2">
      <div class="flex justify-center order-2 mt-6 lg:mt-0 lg:space-y-3 lg:flex-col">
        <button class="carousel-dot w-3 h-3 mx-2 bg-gray-300 rounded-full lg:mx-0 focus:outline-none hover:bg-blue-500" data-index="0"></button>
        <button class="carousel-dot w-3 h-3 mx-2 bg-gray-300 rounded-full lg:mx-0 focus:outline-none hover:bg-blue-500" data-index="1"></button>
        <button class="carousel-dot w-3 h-3 mx-2 bg-gray-300 rounded-full lg:mx-0 focus:outline-none hover:bg-blue-500" data-index="2"></button>
        <button class="carousel-dot w-3 h-3 mx-2 bg-gray-300 rounded-full lg:mx-0 focus:outline-none hover:bg-blue-500" data-index="3"></button>
      </div>

      <div class="carousel-content max-w-lg lg:mx-12 lg:order-2">
        <h1 class="carousel-title text-center text-xl font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-3xl dark:text-white">
          Access Raw Material prices and forecasts for <span class="text-blue-600 dark:text-blue-500">10,000+</span> products
        </h1>
        <p class="carousel-text text-center mt-4 text-gray-600 dark:text-gray-300">Manufactured in the UK and all over the world</p>
        <div class="mt-6 text-center">
            <!-- TODO update href-->
          <a href="#" class="carousel-button px-6 py-2.5 mt-6 text-sm font-medium leading-5 text-center text-white capitalize bg-blue-600 rounded-lg hover:bg-blue-500 lg:mx-0 lg:w-auto focus:outline-none">Start free trial</a>
        </div>
      </div>
    </div>

    <div class="carousel-image flex items-center justify-center w-full h-96 lg:w-1/2">
      <img class="object-cover w-full h-full max-w-2xl rounded-md" src="https://images.unsplash.com/photo-1579586337278-3befd40fd17a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80" alt="apple watch photo">
    </div>
  </div>
</section>


<!-- Get FREE commodities summary for 2024 -->
<section>
  <div class="container flex flex-col px-6 py-10 mx-auto space-y-6 lg:h-[32rem] lg:py-16 lg:flex-row lg:items-center">
    <div class="w-full lg:w-1/2">
        <div class="lg:max-w-lg">
            <h1 class="text-3xl font-semibold tracking-wide text-gray-800 dark:text-white lg:text-4xl">
                Free commodity 1 year forecast report
            </h1>

            <div class="mt-8 space-y-5">
                <p class="flex items-center -mx-2 text-gray-700 dark:text-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                    <span class="mx-2">Clean fact-based data</span>
                </p>



                <p class="flex items-center -mx-2 text-gray-700 dark:text-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                    <span class="mx-2">Key factors explained</span>
                </p>


                <p class="flex items-center -mx-2 text-gray-700 dark:text-gray-200">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>

                  <span class="mx-2">Easy to use format</span>
              </p>

            </div>
        </div>

        <div class="w-full mt-8 bg-transparent border rounded-md lg:max-w-sm dark:border-gray-700 focus-within:border-blue-400 focus-within:ring focus-within:ring-blue-300 dark:focus-within:border-blue-400 focus-within:ring-opacity-40">
            <form class="flex flex-col lg:flex-row">
                <input type="email" placeholder="Enter your email address" class="flex-1 h-10 px-4 py-2 m-1 text-gray-700 placeholder-gray-400 bg-transparent border-none appearance-none dark:text-gray-200 focus:outline-none focus:placeholder-transparent focus:ring-0" />

                <button type="button" class="h-10 px-4 py-2 m-1 text-white transition-colors duration-300 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400">
                    Get now
                </button>
            </form>
        </div>
    </div>

    <div class="flex items-center justify-center w-full h-96 lg:w-1/2">
        <img class="object-cover w-full h-full mx-auto rounded-md lg:max-w-2xl" src="{% static 'main/images/mining1.jpg' %}" alt="mining photo">
    </div>
</div>
</section>

  <!-- Commodities listed -->
  <section>
    <div class="container flex flex-col px-6 py-10 mx-auto space-y-6 lg:h-[32rem] lg:py-16 lg:flex-row lg:items-center">
      <div class="flex items-center justify-center w-full h-96 lg:w-1/2 max-lg:hidden">
        <img class="object-cover w-full h-full max-w-2xl rounded-md" src="{% static 'main/images/tube1.jpg' %}" alt="tube photo">
      </div>
      <div class="w-full lg:w-1/2 lg:pl-10">
          <div class="lg:max-w-lg">
              <h1 class="text-3xl font-semibold tracking-wide text-gray-800 dark:text-white lg:text-4xl">Find commodities and products you are interested in</h1>
              <p class="mt-4 text-gray-600 dark:text-gray-300">We analyse major construction manufacturers and raw materials.</p>
              <div class="grid gap-6 mt-8 sm:grid-cols-2">
                  <div class="flex items-center text-gray-800 -px-3 dark:text-gray-200">
                      <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>

                      <span class="mx-3">Steel</span>
                  </div>

                  <div class="flex items-center text-gray-800 -px-3 dark:text-gray-200">
                      <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>

                      <span class="mx-3">Aluminum</span>
                  </div>

                  <div class="flex items-center text-gray-800 -px-3 dark:text-gray-200">
                      <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>

                      <span class="mx-3">Energy</span>
                  </div>

                  <div class="flex items-center text-gray-800 -px-3 dark:text-gray-200">
                      <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>

                      <span class="mx-3">Electronics</span>
                  </div>

                  <div class="flex items-center text-gray-800 -px-3 dark:text-gray-200">
                      <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>

                      <span class="mx-3">Plastics</span>
                  </div>

                  <div class="flex items-center text-gray-800 -px-3 dark:text-gray-200">
                      <svg class="w-3 h-3 mx-3 ml-4" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 45.402 45.402" stroke="currentColor">
                        <path d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141
                        c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27
                        c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435
                        c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z"/>
                      </svg>

                      <span class="mx-3">47 others</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </section>


  <!-- Pricing -->
  <section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-8 mx-auto">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div>
                <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl dark:text-gray-100">Simple, transparent pricing</h2>
                <p class="mt-4 text-gray-500 dark:text-gray-400">No Contracts. No surprise fees.</p>
            </div>

            <div class="overflow-hidden p-0.5 mt-6 border rounded-lg dark:border-gray-700">
                <div class="sm:-mx-0.5 flex">
                    <button id="monthly-btn" class="focus:outline-none px-3 w-1/2 sm:w-auto py-1 sm:mx-0.5 text-white bg-blue-500 rounded-lg">Monthly</button>
                    <button id="yearly-btn" class="focus:outline-none px-3 w-1/2 sm:w-auto py-1 sm:mx-0.5 text-gray-800 dark:text-gray-200 dark:hover:bg-gray-800 bg-transparent rounded-lg hover:bg-gray-200">Yearly</button>
                </div>
            </div>
        </div>

        <div class="grid gap-6 mt-16 -mx-6 sm:gap-8 sm:grid-cols-1 lg:grid-cols-3 xl:grid-cols-3">
            <!-- Plans Monthly -->
            {% for price_obj in month_qs %}
                {% include 'main/pricing_card.html' with object=price_obj %}
            {% endfor %}
            <!-- Plans Yearly -->
            {% for price_obj in year_qs %}
                {% include 'main/pricing_card.html' with object=price_obj %}
            {% endfor %}
        </div>
    </div>
</section>

</div>

{% endblock %}