<!DOCTYPE html>
<html lang="en-GB">
<head>
    {% include 'main/base/js.html' %}
    {% load static %}
</head>
<body>

{% load custom_tags %}
<script src="{% static 'main/js/tailwind.3.4.5.js' %}"></script>
<section class="max-w-2xl px-6 py-8 mx-auto bg-white dark:bg-gray-900">
    <header>
        <a href="{{BASE_URL}}{% url 'index' %}">
            <img class="w-auto h-7 sm:h-8" src="{% static 'main/images/logo.svg' %}" alt="Material Wise logo">
        </a>
    </header>

    <main class="mt-8">
        <h2 class="text-gray-700 dark:text-gray-200">Hi {{user.username}},</h2>

        <p class="mt-2 leading-loose text-gray-600 dark:text-gray-300">
            New notification has been activated on <span class="font-semibold ">Material Wise</span>.
        </p>

        <div class="inline-block min-w-full py-2 align-middle">
            <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                  <thead class="bg-gray-50 dark:bg-gray-800">
                    <tr>
                        <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                          <a class="flex items-center gap-x-2">
                            <span>Name</span>
                          </a>  
                        </th>


                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <a class="flex items-center gap-x-2">
                                <span>Category</span>
                            </a>
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <a class="flex items-center gap-x-2">
                                <span>Item</span>
                            </a>
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                          <a class="flex items-center gap-x-2">
                              <span>Change %</span>
                            </a>
                      </th>
                        

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <a class="flex items-center gap-x-2">
                                <span>When</span>
                            </a>
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <a class="flex items-center gap-x-2">
                                <span>Calculated from</span>
                              </a>
                        </th>


                      <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <a class="flex items-center gap-x-2">
                            <span>Activated %</span>
                          </a>
                    </th>

                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                <tr class="bg-white dark:bg-gray-900">
                <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                    <a
                    {% if notification.product %}
                    href="{{BASE_URL}}{% url 'product' notification.product.slug %}"
                    {% elif notification.commodity %}
                    href="{{BASE_URL}}{% url 'commodity' notification.commodity.name %}"
                    {% elif notification.project %}
                    href="{{BASE_URL}}{% url 'project' notification.project.slug %}"
                    {% endif %}
                    >
                    <div class="inline-flex items-center gap-x-3">
                        <div class="flex w-max items-center gap-x-2">
                            <img
                            class="object-cover w-10 h-10 rounded"
                            {% if notification.product %}
                            src="{% get_product_image_url notification.product.epd_id %}" alt="{{ notification.product.name }}"
                            {% elif notification.commodity %}
                            src="{% get_commodity_image_url notification.commodity.name %}" alt="{{notification.commodity.name}}"
                            {% elif notification.project %}
                            src="{% get_product_image_url notification.project.products.all.0.epd_id %}" alt="{{ notification.project.products.all.0.name }}"
                            {% endif %}
                            >
                            <div>
                                <h2 class="hover:underline font-medium text-gray-800 dark:text-white ">
                    {% if notification.product %}
                        {{notification.product.name}}
                    {% elif notification.project %}
                     {{ notification.project.name }}
                    {% elif notification.commodity %}
                        {{notification.commodity.name}}
                    {% endif %}
                                </h2>
                                <p class="text-sm font-normal text-gray-600 dark:text-gray-400">
                    {% if notification.product %}
                        {{notification.product.manufacturer_name}}
                    {% elif notification.project %}
                     {{ notification.project.description|slice:":25" }}...
                    {% elif notification.commodity %}
                        {{notification.commodity.basic_description|slice:":25"}}...
                    {% endif %}
                </p>
                            </div>
                        </div>
                    </div>
                </a>
                </td>
                    <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                        {% if notification.product %}
                            {{notification.product.category_3}}
                        {% elif notification.project %}
                         {{ notification.project.products.all.0.category_3 }} and more
                        {% elif notification.commodity %}
                            {{notification.commodity.category}}
                        {% endif %}
                    </td>
                    <td class="px- py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                            {% if notification.product %}
                            <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-blue-100 bg-opacity-60 dark:bg-gray-800">
                            <span class="h-1.5 w-1.5 rounded-full bg-blue-500"></span>
                            <h2 class="text-sm font-normal text-blue-500">Product</h2>
                            </div>
                            {% elif notification.project %}
                            <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                            <span class="h-1.5 w-1.5 rounded-full bg-emerald-500"></span>
                            <h2 class="text-sm font-normal text-emerald-500">Project</h2>
                            </div>
                            {% elif notification.commodity %}
                            <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-amber-100 bg-opacity-60 dark:bg-gray-800">
                            <span class="h-1.5 w-1.5 rounded-full bg-amber-500"></span>
                            <h2 class="text-sm font-normal text-amber-500">Commodity</h2>
                            </div>
                            {% endif %}
                        </div>
                    </td>
                    <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                        {% if notification.change_by_ml == '>=' %}
                            &ge;
                            {% elif notification.change_by_ml == '<=' %}
                            &le;
                            {% endif %}{{notification.change}}
                    </td>
                    <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                        {{notification.change_by}}
                    </td>
                    <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                        {{notification.created_at|time_since}} ago
                    </td>
                    <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                        {{notification.activated_value| floatformat:"2"}}
                    </td>
                  </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        
        <p class="mt-8 text-gray-600 dark:text-gray-300">
            Thanks, <br>
            Material Wise team
        </p>
    </main>
    

    <footer class="mt-8">
        <p class="text-gray-500 dark:text-gray-400">
            This email was sent to <a class="text-blue-600 hover:underline dark:text-blue-400" target="_blank">
                {{user.email}}</a>. 
            If you'd rather not receive this kind of email, you can <a href="{{BASE_URL}}{% url 'turn_off_email_notifications' uidb64=user.id|urlencode token=token %}" class="text-blue-600 hover:underline dark:text-blue-400">
            unsubscribe 
            </a>
            or
            <a href="{{BASE_URL}}{% url 'settings' %}" class="text-blue-600 hover:underline dark:text-blue-400">manage your email preferences</a>.
        </p>

        <p class="mt-3 text-gray-500 dark:text-gray-400">© {% now "Y" %}  Material Wise. All Rights Reserved.</p>
    </footer>
</section>
</body>