<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
</head>
<body>

<section style="max-width: 42rem; /* max-w-2xl */ 
                padding-left: 1.5rem; /* px-6 */
                padding-right: 1.5rem; /* px-6 */
                padding-top: 2rem; /* py-8 */
                padding-bottom: 2rem; /* py-8 */
                margin-left: auto; /* mx-auto */
                margin-right: auto; /* mx-auto */
                background-color: #FFFFFF; /* bg-white */
                color: #1F2937; /* dark:bg-gray-900 */">

    <header>
        <a href="#">
            <!-- TODO Update IMG src to publically available image url -->
            <img style="width: auto; /* w-auto */
                        height: 1.75rem; /* h-7 */
                        max-height: 2rem; /* sm:h-8 */"

                  alt="">
        </a>
    </header>

    <main style="margin-top: 2rem; /* mt-8 */">
        <h2 style=" font-size: 1rem;
                    color: #374151; /* text-gray-700 */
                    font-weight: 500; /* dark:text-gray-200 */">
            Hi {{ email_start|capfirst }},
        </h2>

        <p style="margin-top: 0.5rem; /* mt-2 */
                    line-height: 1.75; /* leading-loose */
                    color: #4B5563; /* text-gray-600 */
                    font-weight: 400; /* dark:text-gray-300 */">
            Forgot your password on <span style="font-weight: 600;">Website Name</span>?
        </p>

        <p style="margin-top: 0.5rem; /* mt-2 */
                    line-height: 1.75; /* leading-loose */
                    color: #4B5563; /* text-gray-600 */
                    font-weight: 400; /* dark:text-gray-300 */">
            That's okay, it happens! Click on the button below to reset your password.
        </p>
        
        <a href="{{ reset_url }}" style="padding-left: 1.5rem; /* px-6 */
                                        padding-right: 1.5rem; /* px-6 */
                                        padding-top: 0.5rem; /* py-2 */
                                        padding-bottom: 0.5rem; /* py-2 */
                                        margin-top: 1rem; /* mt-4 */
                                        font-size: 0.875rem; /* text-sm */
                                        font-weight: 500; /* font-medium */
                                        letter-spacing: 0.05em; /* tracking-wider */
                                        color: #FFFFFF; /* text-white */
                                        text-transform: capitalize; /* capitalize */
                                        transition-property: background-color, border-color, color; /* transition-colors */
                                        transition-duration: 0.3s; /* duration-300 */
                                        transform: none; /* transform */
                                        background-color: #2563EB; /* bg-blue-600 */
                                        border-radius: 0.375rem; /* rounded-lg */
                                        text-decoration: none; /* hover:underline */
                                        display: inline-block; /* Needed for email clients */
                                        text-align: center; /* Needed for email clients;
                                                                Align button text center */
                                        line-height: inherit; /* Maintain button text spacing */
                                        border: none; /* Remove button border */
                                        cursor: pointer; /* Ensure button cursor pointer */
                                        overflow: visible; /* Needed for email clients */
                                        outline: none; /* Remove default button outline */
                                        -webkit-appearance: button; /* Button-like appearance for iOS Safari */
                                        -webkit-text-decoration: none; /* Remove text decoration for iOS Safari */
                                        -webkit-text-size-adjust: none; /* Prevent text size adjust for iOS Safari */
                                        -webkit-font-smoothing: antialiased; /* Antialias text for WebKit */
                                        -moz-osx-font-smoothing: grayscale; /* Grayscale text for Firefox on macOS */
                                        box-sizing: border-box; /* Box sizing for consistent dimensions */
                                        white-space: nowrap; /* Prevent wrapping button text */
                                        -webkit-box-align: center; /* Align button content center for WebKit */
                                        -ms-flex-align: center; /* Align button content center for IE */
                                        align-items: center; /* Align button content center for general */
                                        -webkit-box-pack: center; /* Pack button content center for WebKit */
                                        -ms-flex-pack: center; /* Pack button content center for IE */
                                        justify-content: center; /* Pack button content center for general */">
            Reset password
        </a>
        
        <p style="margin-top: 2rem; /* mt-8 */
                    color: #4B5563; /* text-gray-600 */
                    font-weight: 400; /* dark:text-gray-300 */">
            Thanks, <br>
            Company Name team
        </p>
    </main>
    
    <footer style="margin-top: 2rem; /* mt-8 */">
        <p style="color: #6B7280; /* text-gray-500 */
                    font-weight: 400; /* dark:text-gray-400 */">
            This email was sent to <a style="color: #2563EB; /* text-blue-600 */
                                            text-decoration: none; /* hover:underline */
                                            display: inline; /* Needed for email clients */
                                            cursor: pointer; /* Ensure link cursor pointer */
                                            overflow: visible; /* Needed for email clients */
                                            -webkit-appearance: none; /* Button-like appearance for iOS Safari */
                                            -webkit-text-decoration: none; /* Remove text decoration for iOS Safari */
                                            -webkit-text-size-adjust: none; /* Prevent text size adjust for iOS Safari */
                                            -webkit-font-smoothing: antialiased; /* Antialias text for WebKit */
                                            -moz-osx-font-smoothing: grayscale; /* Grayscale text for Firefox on macOS */
                                            box-sizing: border-box; /* Box sizing for consistent dimensions */
                                            white-space: nowrap; /* Prevent wrapping button text */
                                            -webkit-box-align: center; /* Align link content center for WebKit */
                                            -ms-flex-align: center; /* Align link content center for IE */
                                            align-items: center; /* Align link content center for general */
                                            -webkit-box-pack: center; /* Pack link content center for WebKit */
                                            -ms-flex-pack: center; /* Pack link content center for IE */
                                            justify-content: center; /* Pack link content center for general */"
                                    href="#" target="_blank">{{ user.email }}</a>. 
            Problems or questions? Send email to <a style="color: #2563EB; /* text-blue-600 */
                                                    text-decoration: none; /* hover:underline */
                                                    display: inline; /* Needed for email clients */
                                                    cursor: pointer; /* Ensure link cursor pointer */
                                                    overflow: visible; /* Needed for email clients */
                                                    -webkit-appearance: none; /* Button-like appearance for iOS Safari */
                                                    -webkit-text-decoration: none; /* Remove text decoration for iOS Safari */
                                                    -webkit-text-size-adjust: none; /* Prevent text size adjust for iOS Safari */
                                                    -webkit-font-smoothing: antialiased; /* Antialias text for WebKit */
                                                    -moz-osx-font-smoothing: grayscale; /* Grayscale text for Firefox on macOS */
                                                    box-sizing: border-box; /* Box sizing for consistent dimensions */
                                                    white-space: nowrap; /* Prevent wrapping button text */
                                                    -webkit-box-align: center; /* Align link content center for WebKit */
                                                    -ms-flex-align: center; /* Align link content center for IE */
                                                    align-items: center; /* Align link content center for general */
                                                    -webkit-box-pack: center; /* Pack link content center for WebKit */
                                                    -ms-flex-pack: center; /* Pack link content center for IE */
                                                    justify-content: center; /* Pack link content center for general */"
                                            href="mailto:company@email.com">company@email.com</a>
        </p>

        <p style="margin-top: 0.75rem; /* mt-3 */
                    color: #6B7280; /* text-gray-500 */
                    font-weight: 400; /* dark:text-gray-400 */">
            © {{ new_date.year }} Company Name. All Rights Reserved.
        </p>
    </footer>
</section>
</body>
</html>