{% extends "main/base.html" %}
{% load i18n %}
{% load allauth_ui %}
{% block content %}
<div class="bg-[#e9e9e9] dark:bg-gray-900 min-h-[calc(100vh-82px)] p-4 sm:p-8 flex items-center">
    {% trans "Sign Out" as heading %}
    {% trans "Are you sure you want to sign out?" as subheading %}
    {% url 'account_logout' as action_url %}
    {% #container heading=heading subheading=subheading %}
    {% trans "Continue" as button_text %}
    {% #form url=action_url button_text=heading %}
    {% csrf_token %}
    {{ redirect_field }}
    {% /form %}
    {% /container %}
</div>
{% endblock content %}
