{% extends "main/base.html" %}
{% load i18n %}
{% load allauth_ui %}
{% block reauthenticate_content %}
<div class="bg-[#e9e9e9] dark:bg-gray-900 min-h-[calc(100vh-82px)]">
    <div class="mt-5">{% blocktranslate %}Enter your password:{% endblocktranslate %}</div>
    {% url 'account_reauthenticate' as action_url %}
    {% trans "Confirm" as button_text %}
    {% #form form=form url=action_url button_text=button_text %}
    {{ redirect_field }}
    {% csrf_token %}
    {% /form %}
</div>
{% endblock reauthenticate_content %}
