{% extends "main/layout.html" %}
{% block content %}
{% load static %}
{% load custom_tags %}
<div class="bg-white mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">

    {% if activated_notifications.count > 0 %}
    <!-- Section 1 Notifications -->
    <section class="my-5">
        
      <div class="flex items-center gap-x-3">
        <h2 class="text-lg font-medium text-gray-800 dark:text-white">Notifications</h2>

        <span class="px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full dark:bg-gray-800 dark:text-blue-400">
            {{new_activated_count}} new</span>
      </div>

      <div class="flex flex-col mt-2">
        <div class="overflow-x-auto">
            <div class="inline-block min-w-full py-2 align-middle">
                <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                      <thead class="bg-gray-50 dark:bg-gray-800">
                        <tr>
                            <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                              <a class="flex items-center gap-x-2">
                                <span>Name</span>
                              </a>  
                            </th>


                            <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <a class="flex items-center gap-x-2">
                                    <span>Category</span>
                                </a>
                            </th>

                            <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <a class="flex items-center gap-x-2">
                                    <span>Item</span>
                                </a>
                            </th>

                            <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                              <a class="flex items-center gap-x-2">
                                  <span>Change %</span>
                                </a>
                          </th>
                            

                            <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <a class="flex items-center gap-x-2">
                                    <span>When</span>
                                </a>
                            </th>

                            <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <a class="flex items-center gap-x-2">
                                    <span>Calculated from</span>
                                  </a>
                            </th>

                            <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                              <a class="flex items-center gap-x-2">
                                  <span>Activated</span>
                                </a>
                          </th>
                          <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <a class="flex items-center gap-x-2">
                                <span>Activated %</span>
                              </a>
                        </th>


                            <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                Email
                            </th>

                            <th scope="col" class="relative py-3.5 px-4">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                    {% for notification in activated_notifications %}
                    <tr  
                        {% if notification.is_recent %}
                            class="bg-gray-100"
                        {% else %}
                            class="bg-white"
                        {% endif %}
                    >
                    <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                        <a
                        {% if notification.product %}
                        href="/product/{{notification.product.slug}}"
                        {% elif notification.commodity %}
                        href="/commodity/{{notification.commodity.name}}"
                        {% elif notification.project %}
                        href="/project/{{notification.project.slug}}"
                        {% endif %}
                        >
                        <div class="inline-flex items-center gap-x-3">
                            <div class="flex w-max items-center gap-x-2">
                                <img
                                class="object-cover w-10 h-10 rounded"
                                {% if notification.product %}
                                src="{% get_product_image_url notification.product.epd_id %}" alt="{{ notification.product.name }}"
                                {% elif notification.commodity %}
                                src="{% get_commodity_image_url notification.commodity.name %}" alt="{{notification.commodity.name}}"
                                {% elif notification.project %}
                                src="{% get_product_image_url notification.project.products.all.0.epd_id %}" alt="{{ notification.project.products.all.0.name }}"
                                {% endif %}
                                >
                                <div>
                                    <h2 class="hover:underline font-medium text-gray-800 dark:text-white ">
                        {% if notification.product %}
                            {{notification.product.name}}
                        {% elif notification.project %}
                         {{ notification.project.name }}
                        {% elif notification.commodity %}
                            {{notification.commodity.name}}
                        {% endif %}
                                    </h2>
                                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">
                        {% if notification.product %}
                            {{notification.product.manufacturer_name}}
                        {% elif notification.project %}
                         {{ notification.project.description|slice:":25" }}...
                        {% elif notification.commodity %}
                            {{notification.commodity.basic_description|slice:":25"}}...
                        {% endif %}
                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    </td>
                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                            {% if notification.product %}
                                {{notification.product.category_3}}
                            {% elif notification.project %}
                             {{ notification.project.products.all.0.category_3 }} and more
                            {% elif notification.commodity %}
                                {{notification.commodity.category}}
                            {% endif %}
                        </td>
                        <td class="px- py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                {% if notification.product %}
                                <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-blue-100 bg-opacity-60 dark:bg-gray-800">
                                <span class="h-1.5 w-1.5 rounded-full bg-blue-500"></span>
                                <h2 class="text-sm font-normal text-blue-500">Product</h2>
                                </div>
                                {% elif notification.project %}
                                <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                                <span class="h-1.5 w-1.5 rounded-full bg-emerald-500"></span>
                                <h2 class="text-sm font-normal text-emerald-500">Project</h2>
                                </div>
                                {% comment %} # TODO tailwind css update config to get amber color styles {% endcomment %}
                                {% elif notification.commodity %}
                                <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-amber-100 bg-opacity-60 dark:bg-gray-800">
                                <span class="h-1.5 w-1.5 rounded-full bg-amber-500"></span>
                                <h2 class="text-sm font-normal text-amber-500">Commodity</h2>
                                </div>
                                {% endif %}
                            </div>
                        </td>
                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                            {{notification.change}}
                        </td>
                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                            {{notification.change_by}}
                        </td>
                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                            {{notification.created_at|time_since}} ago
                        </td>
                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                            {{notification.activated_at|time_since}} ago
                        </td>
                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                            {{notification.activated_value| floatformat:"2"}}
                        </td>
                        <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                            {% if notification.email_sent %}
                            <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                                <span class="h-1.5 w-1.5 rounded-full bg-emerald-500"></span>
                                <h2 class="text-sm font-normal text-emerald-500">Sent</h2>
                            </div>
                            {% else %}
                            <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-red-100/60 dark:bg-gray-800">
                                <span class="h-1.5 w-1.5 rounded-full bg-red-500"></span>
                                <h2 class="text-sm font-normal text-red-500">Not sent</h2>
                            </div>
                            {% endif %}
                        </td>
                        <td class="px-4 py-4 text-sm whitespace-nowrap">
                            <div class="flex items-center gap-x-6">
                                <form method="POST" action="{% url 'delete_notification' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="notification_id" value="{{notification.id}}">
                                    <button type="submit" class="text-gray-500 transition-colors duration-200 dark:hover:text-red-500 dark:text-gray-300 hover:text-red-500 focus:outline-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </td>
                      </tr>
                      {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </section>
    
    <hr class="border-gray-200 dark:border-gray-700">
    {% endif %}


    {% if active_notifications.count > 0 %}
    <!-- Section 2 Currently set notifications-->
    <section class="my-5">
        
      <div class="flex items-center gap-x-3">
        <h2 class="text-lg font-medium text-gray-800 dark:text-white">Monitoring</h2>

        <span class="px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full dark:bg-gray-800 dark:text-blue-400">
            {{active_notifications.count}} item{{ active_notifications.count|pluralize:"s" }}</span>
      </div>

      <div class="flex flex-col mt-2">
        <div class="overflow-x-auto">
            <div class="inline-block min-w-full py-2 align-middle">
                <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                      <thead class="bg-gray-50 dark:bg-gray-800">
                        <tr>
                            <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                              <a class="flex items-center gap-x-2">
                                <span>Name</span>
                            </th>

                            <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <a class="flex items-center gap-x-2">
                                  <span>Category</span>
                            </th>

                            <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <a class="flex items-center gap-x-2">
                                  <span>Item</span>
                            </th>

                            <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                              <a class="flex items-center gap-x-2">
                                  <span>Change %</span>
                                </a>
                          </th>

                            <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <a class="flex items-center gap-x-2">
                                    <span>When</span>
                                </a>
                            </th>

                            <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <a class="flex items-center gap-x-2">
                                    <span>Calculated from</span>
                                  </a>
                            </th>

                            <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                Email
                            </th>

                            <th scope="col" class="relative py-3.5 px-4">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                            {% for notification in active_notifications %}
                            <tr>
                                <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                    <a
                                    {% if notification.product %}
                                    href="/product/{{notification.product.slug}}"
                                    {% elif notification.commodity %}
                                    href="/commodity/{{notification.commodity.name}}"
                                    {% elif notification.project %}
                                    href="/project/{{notification.project.slug}}"
                                    {% endif %}
                                    >
                                    <div class="inline-flex items-center gap-x-3">
                                        <div class="flex w-max items-center gap-x-2">
                                            <img
                                            class="object-cover w-10 h-10 rounded"
                                            {% if notification.product %}
                                            src="{% get_product_image_url notification.product.epd_id %}" alt="{{ notification.product.name }}"
                                            {% elif notification.commodity %}
                                            src="{% get_commodity_image_url notification.commodity.name %}" alt="{{notification.commodity.name}}"
                                            {% elif notification.project %}
                                            src="{% get_product_image_url notification.project.products.all.0.epd_id %}" alt="{{ notification.project.products.all.0.name }}"
                                            {% endif %}
                                            >
                                            <div>
                                                <h2 class="hover:underline font-medium text-gray-800 dark:text-white ">
                                    {% if notification.product %}
                                        {{notification.product.name}}
                                    {% elif notification.project %}
                                     {{ notification.project.name }}
                                    {% elif notification.commodity %}
                                        {{notification.commodity.name}}
                                    {% endif %}
                                                </h2>
                                                <p class="text-sm font-normal text-gray-600 dark:text-gray-400">
                                    {% if notification.product %}
                                        {{notification.product.manufacturer_name}}
                                    {% elif notification.project %}
                                     {{ notification.project.description|slice:":25" }}...
                                    {% elif notification.commodity %}
                                        {{notification.commodity.basic_description|slice:":25"}}...
                                    {% endif %}
                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    {% if notification.product %}
                                        {{notification.product.category_3}}
                                    {% elif notification.project %}
                                     {{ notification.project.products.all.0.category_3 }} and more
                                    {% elif notification.commodity %}
                                        {{notification.commodity.category}}
                                    {% endif %}
                                </td>
                                <td class="px- py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                        {% if notification.product %}
                                        <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-blue-100 bg-opacity-60 dark:bg-gray-800">
                                        <span class="h-1.5 w-1.5 rounded-full bg-blue-500"></span>
                                        <h2 class="text-sm font-normal text-blue-500">Product</h2>
                                        </div>
                                        {% elif notification.project %}
                                        <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                                        <span class="h-1.5 w-1.5 rounded-full bg-emerald-500"></span>
                                        <h2 class="text-sm font-normal text-emerald-500">Project</h2>
                                        </div>
                                        {% comment %} # TODO tailwind css update config to get amber color styles {% endcomment %}
                                        {% elif notification.commodity %}
                                        <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2 bg-amber-100 bg-opacity-60 dark:bg-gray-800">
                                        <span class="h-1.5 w-1.5 rounded-full bg-amber-500"></span>
                                        <h2 class="text-sm font-normal text-amber-500">Commodity</h2>
                                        </div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    {{notification.change}}
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    {{notification.change_by}}
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    {{notification.created_at|time_since}} ago
                                </td>
                                <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <input 
                                            type="checkbox" 
                                            class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700" 
                                            {% if notification.email_notification %}checked{% endif %}
                                            disabled>
                                    </div>
                                </td>
                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div class="flex items-center gap-x-6">
                                        <form method="POST" action="{% url 'delete_notification' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="notification_id" value="{{notification.id}}">
                                            <button type="submit" class="text-gray-500 transition-colors duration-200 dark:hover:text-red-500 dark:text-gray-300 hover:text-red-500 focus:outline-none">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </section>
     

    <!-- Section 3 -->
    <hr class="border-gray-200 dark:border-gray-700">
    {% endif %} 

    <section class="my-5">
        <div class="flex flex-col">
            <div class="self-center w-full text-md text-gray-600 text-center tracking-wide">
                Set new notifications directly from product, commodity or project page.
            </div>
        </div>
    </section>


    <!-- Section 4 -->
    <section class="my-10">
        <div>
            <p class="text-[5px] text-gray-500 dark:text-gray-300">
                Change % is calculated from 'When' date to when notification is set.
            </p>
            <p class="text-[5px] text-gray-500 dark:text-gray-300">
                Change by % &gt0 activates when change % is higher.
            </p>
            <p class="text-[5px] text-gray-500 dark:text-gray-300">
                Change by % &lt0 activates when change % is lower.
            </p>
        </div>
    </section>



</div>
{% endblock %}