{% load custom_tags %}
<div class="product-container group relative flex-none snap-center snap-always w-64">
    <div class="aspect-square w-64 h-64 overflow-hidden rounded-md bg-gray-200 relative">
        <img src="{% get_product_image_url product.epd_id %}" alt="{{ product.name }}" class="w-64 h-64 object-fill object-center">
        
        <!-- Hidden content that appears on hover -->
        <form method="POST" action="{% url 'change_product_to_project' product.id %}">
            {% csrf_token %}
            <div class="absolute inset-0 flex justify-between items-start opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-gray-800 bg-opacity-75">
                <select name="project_id" class="project-select absolute max-w-[100px] top-0 left-0 mt-2 ml-2 px-1 py-1 text-xs bg-white text-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 z-10">
                    {% for project in owned_projects %}
                        <option value="{{ project.id }}">{{ project.name }}</option>
                    {% endfor %}
                    <option value="new">New project</option>
                </select>                
                <input maxlength="100" type="text" name="new_project_name" placeholder="" class="new-project-name hidden absolute top-10 left-0 mt-2 ml-2 px-1 py-1 text-xs bg-white text-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 z-10" />
                <button type="submit" 
                        class="product-button text-white bg-blue-700 hover:bg-blue-800 
                        absolute bottom-0 right-0 mb-2 mr-2 px-1 py-1 text-xs rounded-md focus:outline-none focus:ring-2 z-10"
                        data-product-id="{{ product.id }}">
                    Save
                </button>
            </div>
        </form>
    </div>
    <div class="mt-4 flex justify-between">
        <div>
            <h3 class="text-sm text-gray-700">
                <a href="/product/{{product.slug}}" class="font-semibold whitespace-normal break-words">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    {{ product.name|slice:":50"|wordwrap:10 }}
                </a>
            </h3>
            <p class="mt-1 text-sm text-gray-600">{{ product.category_1 }}</p>
            <p class="mt-1 text-sm text-gray-400">{{ product.manufacturer_name }}</p>
        </div>
        <p class="text-sm font-semibold text-gray-900">
            {% if product.increasefromlastyear %}
                {% if product.increasefromlastyear > 0 %}
                    <a><span class="text-green-500 font-black">↑</span>{{ product.increasefromlastyear|floatformat:"1" }}%</a>
                {% elif product.increasefromlastyear < 0 %}
                    <a><span class="text-red-500 font-black">↓</span>{{ product.increasefromlastyear|floatformat:"1" }}%</a>
                {% endif %}
            {% endif %}
        </p>
    </div>
</div>